resources/META-INF/xcache.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
        xmlns="http://www.xteam.org/xcache"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:beans="http://www.springframework.org/schema/beans"
        targetNamespace="http://www.xteam.org/xcache"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.springframework.org/schema/beans" />
	
	<xsd:element name="autoproxy">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ Create xcache.core.CacheBeanPostProcessor. ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>
	
	<xsd:element name="config">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="local" type="xsd:string" />
                    <xsd:attribute name="remote" type="xsd:string" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
	
</xsd:schema>